
<%= flash[:error] %>
<%= form_for(@person) do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div class="actions">
        <%= f.submit "register" %>
    </div>
<% end %>

