
<%= flash[:error] %>
<%= form_for(@product) do |f| %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :alias %><br />
        <%= f.text_field :alias %>
    </div>
    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label :email, 'Contact e-mail' %><br />
        <%= f.text_field :email %>
    </div>
    <div class="actions">
        <%= f.submit "test my idea" %>
    </div>
<% end %>

